{% load display %}
<div id="plot_details" class="flex-container">
    <div id="planned-details" class="flex-child">
        <table class="properties">
            <tr><th>Coordonnées</th>
                <td>{{ plotobsplanned.plot.center.coords|swiss_rounded }}</td>
            </tr>
            <tr><th>Propriétaire</th>
                <td>{{ plotobsplanned.owner.code }} {{ plotobsplanned.owner.name }}</td>
            </tr>
            <tr><th>N° série</th>
                <td>{{ plotobsplanned.ser_num|default_if_none:"-" }}</td>
            </tr>
            <tr><th>N° division</th>
                <td>{{ plotobsplanned.division|default_if_none:"-" }}</td>
            </tr>
            <tr><th>Opérateur</th>
                <td>{{ plotobsplanned.operator|default_if_none:"-" }}</td>
            </tr>
            <tr><th>Vérifié ?</th>
                <td>{{ plotobsplanned.checked|yesno:"Oui,Non" }}</td>
            </tr>
            {% if plotobsplanned.remark %}
            <tr><th>Remarques</th>
                <td>{{ plotobsplanned.remark|linebreaksbr }}</td>
            </tr>
            {% endif %}
        </table>

        <button class="btn" hx-get="{% url 'plotobs_planned_edit' plotobsplanned.pk %}" hx-target="#planned-details">Modifier</button><br>

        <p class="notice">
            {% if history %}Cette placette a déjà été inventoriée en:
                {% for obs in history %}{% if not forloop.first %}, {% endif %}{{ obs.protocol.year }}{% endfor %}
            {% else %}Cette placette n'a pas encore été inventoriée.{% endif %}
        </p>
    </div>

    <div class="flex-child" id="topap">
        <h3>Infos Topap (couche)</h3>
        {% if topap %}
        <table class="properties">
            <tr><th>Propriétaire</th><td>{{ topap.propri }}</td></tr>
            <tr><th>Triage</th><td>{{ topap.triage_ge }}</td></tr>
            <tr><th>N° série</th><td>{{ topap.serie }}</td></tr>
            <tr><th>N° division</th><td>{{ topap.division }}</td></tr>
            {% if topap.remarques %}
            <tr><th>Remarques</th><td>{{ topap.remarques }}</td></tr>
            {% endif %}
        </table>
        {% else %}
        <p class="notice">Aucun polygone Topap ne correspond à l'emplacement de cette placette.</p>
        {% endif %}
        <h3 id="topap-bottom">Infos Topap (importées)</h3>
        <table class="properties">
            <tr><th>Propriétaire</th>
                <td>{{ plotobsplanned.owner_top.code }} {{ plotobsplanned.owner_top.name }}</td>
            </tr>
            <tr><th>N° série</th>
                <td>{{ plotobsplanned.ser_num_top|default_if_none:"-" }}</td>
            </tr>
            <tr><th>N° division</th>
                <td>{{ plotobsplanned.division_top|default_if_none:"-" }}</td>
            </tr>
        </table>
    </div>
    <div class="flex-child hidden" id="parcellaire">
        <h3>Infos parcelle</h3>
        <table class="properties">
            <tr><th>Désignation</th><td><span id="parc-designation"></span></td></tr>
            <tr><th>N° de parcelle</th><td><span id="parc-no"></span></td></tr>
            <tr><th>Genre</th><td><span id="parc-genre"></span></td></tr>
            <tr><th>Propriétaire(s)</th><td><span id="parc-owner"></span></td></tr>
        </table>
    </div>
    <div class="flex-child hidden" id="parcellaire-inconnu">
        <p class="notice">Pas d’information du registre foncier pour ce point.</p>
    </div>
</div>
