{% extends "base.html" %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/highlight.min.css' %}">
<script src="{% static 'js/tablesorter/js/jquery.tablesorter.min.js' %}"></script>
<script src="{% static 'js/highlight.pack.js' %}"></script>
<script>
    $(document).ready(function() {
        $("table.tablesorter").tablesorter({
            sortList: [[0,0]]
        });
    });
</script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
{% if comment %}{{ comment }}{% endif %}
<pre><code>{{ definition|safe }}</code></pre>

<i>{% blocktrans with count=data.count %}{{ count }} lignes:{% endblocktrans %}</i>
<table id="data_grid" class="numbers tablesorter">
  <thead>
      <tr>{% for name in field_names %}<th>{{ name }}</th>{% endfor %}</tr>
  </thead>
  <tbody>
      {% for line in data %}<tr>{% for item in line %}<td>{{ item }}</td>{% endfor %}</tr>{% endfor %}
  </tbody>
</table>
{% endblock %}
