<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Inventaire forestier vaudois</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript">
    $(document).tooltip();
  </script>
  {% if form %}{{ form.media }}{% endif %}
  {% block extra_head %}{% endblock %}
</head>

<body>
  <div id="global">
    <div id="header">
        <div id="header_bar">
          <div id="logo">
            <img src="{% static 'img/logo_vd.png' %}">
          </div>
        {% if user.is_authenticated %}
        <ul id="main_menu">
            <li>{% if not on_home %}<a href="{% url 'home' %}" title="Retour à l'aperçu général">{% endif %}
        Accueil{% if not on_home %}</a>{% endif %}</li>
            <li><a href="{% url 'data_page' %}">Analyse de données</a></li>
            <li><a href="{% url 'docs' %}">Documentation</a></li>
            <li><a href="{% url 'protocoles' %}">Protocoles</a></li>
            <li><a href="{% url 'import_list' %}">Importation</a></li>
         </ul>
         {% endif %}
        </div>
    </div>

    <div id="main">
      {% if user.is_authenticated %}
        <div class="authenticated">{{ user }} - <a href="{% url 'logout' %}">se déconnecter</a></div>
      {% endif %}

      <h1>Inventaire forestier du canton de Vaud</h1>

      <div id="breadcrumb"></div>
      
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|linebreaksbr }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="content">
      {% block content %}
      {% endblock %}
       <div class="reset"></div>
      {% block content_footer %}{% endblock %}
      </div>

    </div> {# main #}
    <div id="footer">
      Réalisation : <a href="http://www.guaraci.ch">Guaraci</a> &amp; <a href="https://www.2xlibre.net">2xlibre.net</a>
    </div>
  </div> {# global #}

  <div id="loading">
      <img src="{% static 'img/indicator.gif' %}"><br>
      Chargement en cours…
  </div>
</body>
</html>
