{% load display %}

{% if error %}
    <div class="error">{{ error }}</div>
{% else %}
<div style="margin: 0.5em 0">
    {% if municipalities %}<b>Communes :</b> {{ municipalities|join:", " }}{% endif %}
    {% if owners %}<b>Propriétaires :</b> {{ owners|join:", " }}{% endif %}
    {% if arronds %}<b>Arrondissements :</b> {{ arronds|join:", " }}{% endif %}
    {% if excluded_count %}
        <div class="warning">{{ excluded_count }} observations de placettes ont été exclues de cette requête car elles concernaient la même placette.</div>
    {% endif %}
</div>
{% if total %}<div style="font-size:x-small; font-style: italic">Lignes: {{ total }}</div>{% endif %}

<table id="data_grid" class="numbers tablesorter">
  <thead>
  <tr>{% for name in field_names %}<th{% if name.0 == '*' %} class="aggr"{% endif %}>{{ name }}</th>{% endfor %}</tr>
  </thead>
  <tbody>
  {% for line in query %}
    <tr>{% display_query_line line %}</tr>
  {% empty %}
    <tr><td colspan="5">Votre requête n'a malheureusement produit aucune donnée</td></tr>
  {% endfor %}
  </tbody>
</table>

<details style="margin-top: 1em;">
    <summary>Requête SQL</summary>
    <div><pre>{{ query_sql|display_sql }}</pre></div>
</details>
{% endif %}
