{% extends "base.html" %}

{% block content %}

<h1>Essences</h1>

<form action="{% url 'essences-export' %}">
    <button type="submit">Exporter le fichier pour la pince</button>
</form>

<h2>Essences «actives»</h2>
<p>Ces essences peuvent être saisies lors de nouveaux inventaires. Ce sont ces essences qui sont exportées en cliquant sur le bouton ci-dessus.</p>
<table>
    {% for essence in actives %}
    <tr><td>{{ essence.order|default_if_none:'-' }}.</td>
        <td>{{ essence.species }}</td>
        <td>{{ essence.abbrev }}</td>
    </tr>
    {% endfor %}
</table>

<h2>Essences «historiques»</h2>
<p>Ces essences ont été utilisées par le passé, mais ne sont plus disponibles lors de nouveaux inventaires.</p>

<ul>
    {% for essence in inactives %}
    <li>{{ essence }}{% if essence.abbrev %} ({{ essence.abbrev }}){% endif %}</li>
    {% endfor %}
</ul>

{% endblock %}
