{% extends "base.html" %}

{% block content %}

<h2>Importation du fichier Topap</h2>

<p>Dernière modification de la version importée: {{ last_modif }}</p>
<p>Le fichier doit être un fichier Shape .zip</p>

<form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type="submit">Importer</button>
    </div>
</form>

{% endblock %}
