<link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}" />
<link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}" />

<script src="{% static 'leaflet/leaflet.js' %}"></script>
<script src="{% static 'js/proj4-2.4.3.js' %}"></script>
<script src="{% static 'js/proj4leaflet-1.0.1.js' %}"></script>
<script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/Leaflet.MetricGrid.js' %}"></script>
<script src="{% static 'js/leaflet-lasso.umd.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
<script>const markerURL = "{% static 'leaflet/images/marker-icon.png' %}";</script>
