{% extends "base.html" %}

{% block extra_head %}
<style>
#param_form p { display: inline-block; margin-right: 1em; }
.data { font-family: monospace; }
.data td, #data th { text-align: right; padding-right: 0.7em; }
.data hr { border: thin dashed gray; }
</style>
{% endblock %}

{% block content %}

<h2>Analyse pour le propriétaire {{ owner }}</h2>

<form id="param_form" method="post">{% csrf_token %}
    {{ form.as_p }}
    <div>
        <button hx-post="{% url 'owner_analysis' view.owner.pk view.kwargs.year %}"
                hx-target="#analyse" hx-indicator="#indicator">Calculer</button>
    </div>
</form>

<div>
    <p id="indicator" class="text-center htmx-indicator">
        <img src="{% static 'img/spinner.svg' %}">
    </p>
    <div id="analyse"></div>
</div>

{% endblock %}
