{% load display %}

<p>
    Année: {{ annee }}<br>
    Clé: Surf {{ params.surface }} {% if params.intervention %}Inter: {{ params.intervention }}{% endif %}{% if params.classe_ddom %}, DDom: {{ params.classe_ddom }}{% endif %}<br>
    Stat: {{ surface }} HA ({{ placettes }} Plac)
</p>
<table class="data">
<thead>
    <tr>
        <th>diam---</th>{% for spec in species.values %}<th>{{ spec }}</th>{% endfor %}
        <th>R/HA</th><th>F/HA</th><th>T/HA</th>
        <th>R-ABS</th><th>F-ABS</th><th>T-ABS</th><th>%R</th><th>%F</th><th>%T</th>
    </tr>
</thead>
<tbody>
    <tr><td colspan="{{ species|length|add:10 }}"><hr></td></tr>
{% for dclass, values in lines.items %}
    {% if dclass in sep_before %}
        <tr><td colspan="{{ species|length|add:10 }}"><hr></td></tr>
    {% endif %}
    <tr><th>{{ dclass }}</th>
    {% for spec, val in values.items %}
        {% if dclass == 'G>=10' or dclass == 'DGM16' or dclass == 'V/N16' %}<td>{{ val|stat_value:2 }}</td>
        {% else %}<td>{{ val|stat_value }}</td>{% endif %}
    {% endfor %}
{% endfor %}
    <tr><td colspan="{{ species|length|add:10 }}"><hr></td></tr>
</tbody>
</table>
<table class="data">
    <tr><td colspan="7">Dégâts gibier observés sur 100% de la surface totale</td></tr>
    <tr><td></td><td></td><td>Épicéa</td><td>Aut.Rés</td><td>Résineux</td><td>Feuillus</td><td>Total</td></tr>
    <tr>
        <td>Disponibles</td><td></td>
        <td>{{ gibier.epicea_avail|floatformat:"0" }}</td>
        <td>{{ gibier.conifer_avail|floatformat:"0" }}</td>
        <td>{{ gibier.resineux_avail|floatformat:"0" }}</td>
        <td>{{ gibier.leaved_avail|floatformat:"0" }}</td>
        <td>{{ gibier.total_avail|floatformat:"0" }}</td>
    </tr>
    <tr>
        <td>dont frottés</td><td>%</td>
        <td>{{ gibier.epicea_f_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.conifer_f_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.resineux_f_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.leaved_f_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.total_f_perc|default_if_none:'0' }}</td>
    </tr>
    <tr>
        <td>dont abroutis</td><td>%</td>
        <td>{{ gibier.epicea_a_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.conifer_a_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.resineux_a_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.leaved_a_perc|default_if_none:'0' }}</td>
        <td>{{ gibier.total_a_perc|default_if_none:'0' }}</td>
    </tr>
</table>
