{% extends "base.html" %}
{% load display %}

{% block extra_head %}
<style>
table.list { width: 100%; }
tr.new-owner td { border-top: 2px solid black; }
</style>
{% endblock %}

{% block content %}
<h2>Liste des protocoles d'inventaire</h2>
<p>Dans cet affichage, les protocoles apparaissent autant de fois qu'ils ont de propriétaire.</p>

<p style="text-align: right;"><a href="{% url 'admin:inventory_protocol_add' %}">Ajouter un protocole</a></p>

<div class="tabs">
    {% url 'protocoles' as prot %}
    {% url 'protocoles_by_owner' as prot_by_owner %}
    <ul class="tabs">
      <li {% if request.path == prot %}class="active"{% endif %}>
          <a href="{{ prot }}">Par année</a></li>
      <li {% if request.path == prot_by_owner %}class="active"{% endif %}>
          <a href="{{ prot_by_owner }}">Par propriétaire</a></li>
    </ul>
</div>

<table class="list">
  <tr><th>Année</th><th>Fichier</th><th>Propriétaire</th><th>Points importés</th></tr>
{% for owner in object_list %}
  {% for protocol in owner.protocol_set.all %}
      <tr class="{% ifchanged owner %}new-owner{% endifchanged %}{{ protocol.draft|yesno:'draft,' }}">
          <td>{{ protocol.year }}</td>
          <td><a href="{{ MEDIA_URL }}{{ protocol.pfile }}">{{ protocol.pfile|basename }}</a></td>
          <td>{{ owner }}</td>
          <td>{{ protocol.plotobs__count }}</td>
          <td><a href="{% url 'admin:inventory_protocol_change' protocol.pk %}"><img src="{% static 'img/edit.png' %}" width="20"></a></td>
      </tr>
  {% endfor %}
{% endfor %}
</table>
{% endblock %}
