{% extends "base.html" %}

{% block content %}
<h2>Importer un fichier de placettes pour: {{ protocol }}</h2>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Le fichier Excel doit comporter en première ligne au minimum les en-têtes CoordX, CoordY, LvPropri, ame_SerieD, LvPropri_1, top_SerieD (ordre non signifiant).</p>
    {{ form.as_p }}
    <button type="submit">Envoyer</button>
</form>
{% endblock %}
