{% extends "base.html" %}

{% block extra_head %}
{% include "map_headers.html" %}
{{ empty_form.media }}
<style>
.flex-child { flex-basis: 0; flex-grow: 1; }  /* Equal widths */
.add-point { background-color: white; cursor: pointer; padding: 2px; border-radius: 2px; border: 2px solid rgba(0,0,0,0.2); }
#plots-done, #plots-verif { color: white; }
div.owner { flex: 1; margin-left: 1.5em; }
ul.checkbox { column-width: 180px; list-style-type: none; padding-left: 0; }
#id_owner { max-width: 15em; }
#id_remark { height: 4em; }
div#map { width: 100%; height: 500px; resize: vertical; }
div#map-display { position: absolute; bottom: 1.4em; right: 1em; z-index: 1000; background-color: white; padding: 1em; border-radius: 8px; }
span.owner { position: fixed; top: -1.4em; background-color: #fff9; }
span.ser_div { position: fixed; bottom: -1.4em; background-color: #fff9; }
#topap-bottom { margin-top: 1em !important; border-top: 1px solid #ddd; }
#plot_details { margin-top: 1em; }
#plot_details .flex-child { border: 1px solid #ddd; padding: 5px; }
#multi-edit label { vertical-align: top; }
#plotobs_container h3 { margin-top: 0; }
#plotobs_container th { text-align: right; vertical-align: top; }
{% for op in operators %}
    {% cycle 'cyan' 'green' 'greenyellow' 'hotpink' 'indigo' 'violet' as opcolor silent %}
    .operator-{{ op.pk }} { border: 4px solid {{ opcolor }}; }
    .cb-operator.operator-{{ op.pk }} { outline: 4px solid {{ opcolor }}; }
{% endfor %}
</style>
<script src="{% static 'js/protocole.js' %}"></script>
{% endblock %}

{% block content %}
<h2>{{ protocol }}</h2>

<div class="flex-container">
    <div class="flex-child">
        <div><b>Année :</b> {{ protocol.year }}</div>
        <div><b>Période :</b> {{ protocol.inv_date }}</div>
        <div><b>Analyses compl. :</b> <ul>{% for voc in protocol.get_vocabs %}<li>{{ voc }}</li>{% endfor %}</ul></div>
        {% if protocol.comments %}<div><b>Remarques :</b> {{ protocol.comments|linebreaksbr }}</div>{% endif %}
    </div>

    <div class="flex-child">
        <b>Nbre de placettes :</b>
        <ul class="checkbox">
            <li>
                <input type="checkbox" id="cb-plots-done" class="cb-plot">
                Inventoriées : <span id="plots-done" class="icon-green">-</span>
            </li>
            <li>
                <input type="checkbox" id="cb-plots-verif" class="cb-plot">
                Vérifiées : <span id="plots-verif" class="icon-blue">-</span>
            </li>
            <li>
                <input type="checkbox" id="cb-plots-unverif" class="cb-plot">
                À vérifier : <span id="plots-unverif" class="icon-unchecked">-</span>
            </li>
            <li>
                <em>Total : <span id="plots-total">-</span></em>
            </li>
        </ul>
    </div>
    <div class="owner flex-child">
        <b>Propriétaires :</b>
        <ul class="checkbox">
        {% for owner, cnt in owners.items %}
            <li>
                <input type="checkbox" id="cb-owner-{{ owner.pk }}" class="cb-owner" data-ownerid="{{ owner.pk }}">
                <a href="{% url 'entity' 'owner' owner.pk %}">{{ owner }}</a> ({{ cnt }})
            </li>
        {% empty %}
            {% if not owners_none %}-{% endif %}
        {% endfor %}
        {% if owners_none %}
            <li>
                <input type="checkbox" id="cb-owner-none" class="cb-owner" data-ownerid="none">
                <i>Sans propriétaire ({{ owners_none }})</i>
            </li>
        {% endif %}
        </ul>
    </div>

    <div class="operator flex-child">
        <b>Opérateurs-trices :</b>
        <ul class="checkbox" id="operators">
        </ul>
    </div>
</div>

<div>
    <input id="cb-diffametopap" type="checkbox">
    <label for="cb-diffametopap">N’afficher que les points avec des différences entre AME et Topap</label>
</div>
<div style="text-align: right;">
    <a class="btn" href="{% url 'protocole_import' protocol.pk %}">Importer des placettes</a>
    <a class="btn" href="{% url 'protocole_edit' protocol.pk %}">Modifier</a>
</div>

{% if protocol.nb_plots > 0 %}
<div id="map" class="map"
     data-src="{% url 'protocole_plots' protocol.pk %}"
     data-srcconflicts="{% url 'protocole_plots_conflicts' protocol.pk %}"
     data-topap="{% url 'topapp-layer' protocol.pk %}"
     data-addpoint="{% url 'plotobs_planned_new' protocol.pk %}"
     data-delpoint="{% url 'plotobs_planned_delete_multi' protocol.pk %}">
    <div id="map-display">
        <b>Affichage AME</b><br>
        <input type="checkbox" id="disp-owner"> <label for="disp-owner">Propriétaire</label><br>
        <input type="checkbox" id="disp-ser_div"> <label for="disp-ser_div">Série/division</label>
    </div>
</div>
{% endif %}

<div id="plotobs_container"></div>

<div id="multi-edit-div" class="hidden">
    {% include 'partial/plotobs_planned_form_multi.html' %}
</div>

{% endblock %}
