{% extends "base.html" %}

{% block extra_head %}
<style>
  label { font-size: small; color: #333; }
  #id_name { width: 100%; }
  #id_comments { height: 5em; width: 100%; }
  .row { margin-top: 0.4em; } 
</style>
{% endblock %}

{% block content %}
<h2>Nouvel inventaire</h2>

<div id="mainwrapper">
    <form method="post">{% csrf_token %}
        <div class="row">{{ form.non_field_errors }}</div>
        <div class="row">{{ form.name.label_tag }} {{ form.name.errors }}<br>{{ form.name }}</div>

        <div class="container row">
            <div>{{ form.year.label_tag }} {{ form.year.errors }}<br>{{ form.year }}</div>
            <div>{{ form.inv_date.label_tag }} {{ form.inv_date.errors }}<br>{{ form.inv_date }}</div>
            {% if form.default_density %}
            <div>{{ form.default_density.label_tag }} {{ form.default_density.errors }}<br>{{ form.default_density }}</div>
            {% endif %}
        </div>
        <div class="row">
            {{ form.comments.label_tag }} {{ form.comments.errors }}<br>{{ form.comments }}
        </div>
        <div class="row"><button type="submit">Créer</button></div>
    </form>
</div>
{% endblock %}
