{% extends "base.html" %}
{% load leaflet_tags display %}

{% block extra_head %}
  <style>
    #mainwrapper { display: flex; }
    #mainwrapper > * { flex: 50%; max-width: 60%; }
    label { font-size: small; color: #333; }
    fieldset { margin: 1em 0; }
    legend { font-family: monospace; }
    #id_name { width: 100%; }
    #id_comments { height: 5em; width: 100%; margin-top: 1em; }
    .select2-container { width: 100% !important; }
  </style>
{% endblock %}

{% block content %}
<h2>Édition d’inventaires</h2>

<div id="mainwrapper">
    <form method="post">{% csrf_token %}
        <div>{{ form.non_field_errors }}</div>
        <div>{{ form.name.label_tag }} {{ form.name.errors }}<br>{{ form.name }}</div>

        {% if form.instance.pfile %}
        <div>
            {% if form.passed %}<div>{{ form.instance.passed }} {{ form.passed.label_tag|strip_colon }}</div>{% endif %}
            <div style="margin-right: 2em;">{{ form.draft }} {{ form.draft.label_tag|strip_colon }}</div>
            <div><a href="{{ form.instance.pfile.url }}">{{ form.instance.pfile|basename }}</a></div>
        </div>
        {% else %}
            <div>{{ form.pfile.label_tag }} {{ form.pfile.errors }}<br>{{ form.pfile }}</div>
        {% endif %}

        <div class="container">
            <div>{{ form.year.label_tag }} {{ form.year.errors }}<br>{{ form.year }}</div>
            <div>{{ form.inv_date.label_tag }} {{ form.inv_date.errors }}<br>{{ form.inv_date }}</div>
            {% if form.default_density %}
            <div>{{ form.default_density.label_tag }} {{ form.default_density.errors }}<br>{{ form.default_density }}</div>
            {% endif %}
        </div>

        <div>
            {{ form.owners.label_tag }} {{ form.owners.errors }}<br>{{ form.owners }}
        </div>

        {% if form.vocab_posp8 %}
        <fieldset><legend>Champs libres</legend>
        <div class="container">
            <div>{{ form.vocab_posp8.label_tag }} (PARC 7) {{ form.vocab_posp8.errors }}<br>{{ form.vocab_posp8 }}</div>
            <div>{{ form.vocab_posp9.label_tag }} (PARC 8) {{ form.vocab_posp9.errors }}<br>{{ form.vocab_posp9 }}</div>
            <div>{{ form.vocab_posd6.label_tag }} (DESP 6) {{ form.vocab_posd6.errors }}<br>{{ form.vocab_posd6 }}</div>
            <div>{{ form.vocab_posd7.label_tag }} (DESP 7) {{ form.vocab_posd7.errors }}<br>{{ form.vocab_posd7 }}</div>
        </div>
        </fieldset>
        {% endif %}

        {% if form.interv_0 %}
        <fieldset><legend>Interventions</legend>
        <div class="container">
            <div>{{ form.interv_0.label_tag }} {{ form.interv_0.errors }}<br>{{ form.interv_0 }}</div>
            <div>{{ form.interv_1.label_tag }} {{ form.interv_1.errors }}<br>{{ form.interv_1 }}</div>
            <div>{{ form.interv_2.label_tag }} {{ form.interv_2.errors }}<br>{{ form.interv_2 }}</div>
            <div>{{ form.interv_3.label_tag }} {{ form.interv_3.errors }}<br>{{ form.interv_3 }}</div>
            <div>{{ form.interv_4.label_tag }} {{ form.interv_4.errors }}<br>{{ form.interv_4 }}</div>
            <div>{{ form.interv_5.label_tag }} {{ form.interv_5.errors }}<br>{{ form.interv_5 }}</div>
            <div>{{ form.interv_6.label_tag }} {{ form.interv_6.errors }}<br>{{ form.interv_6 }}</div>
            <div>{{ form.interv_7.label_tag }} {{ form.interv_7.errors }}<br>{{ form.interv_7 }}</div>
            <div>{{ form.interv_8.label_tag }} {{ form.interv_8.errors }}<br>{{ form.interv_8 }}</div>
            <div>{{ form.interv_9.label_tag }} {{ form.interv_9.errors }}<br>{{ form.interv_9 }}</div>
        </div>
        </fieldset>
        {% endif %}

        {% if form.spec_pos1 %}
        <fieldset><legend>Essences</legend>
        <div class="container">
            <div>Laisser vide si la valeur correspond à la valeur par défaut (Déf:)</div>
            <div>{{ form.spec_pos1.label_tag }} {{ form.spec_pos1.errors }}<br>
                 {{ form.spec_pos1 }} Déf: <b>RD</b>=Résineux divers</div>
            <div>{{ form.spec_pos2.label_tag }} {{ form.spec_pos2.errors }}<br>
                 {{ form.spec_pos2 }} Déf: <b>Do</b>=Douglas</div>
            <div>{{ form.spec_pos3.label_tag }} {{ form.spec_pos3.errors }}<br>
                 {{ form.spec_pos3 }} Déf: <b>Me</b>=Mélèze</div>
            <div>{{ form.spec_pos4.label_tag }} {{ form.spec_pos4.errors }}<br>
                 {{ form.spec_pos4 }} Déf: <b>Sa</b>=Sapin</div>
            <div>{{ form.spec_pos5.label_tag }} {{ form.spec_pos5.errors }}<br>
                 {{ form.spec_pos5 }} Déf: <b>Ep</b>=Epicéa</div>
            <div>{{ form.spec_pos6.label_tag }} {{ form.spec_pos6.errors }}<br>
                 {{ form.spec_pos6 }} Déf: <b>He</b>=Hêtre</div>
            <div>{{ form.spec_pos7.label_tag }} {{ form.spec_pos7.errors }}<br>
                 {{ form.spec_pos7 }} Déf: <b>Er</b>=Erable</div>
            <div>{{ form.spec_pos8.label_tag }} {{ form.spec_pos8.errors }}<br>
                 {{ form.spec_pos8 }} Déf: <b>Ch</b>=Chêne</div>
            <div>{{ form.spec_pos9.label_tag }} {{ form.spec_pos9.errors }}<br>
                 {{ form.spec_pos9 }} Déf: <b>FD</b>=Feuillus divers</div>
            <div>{{ form.spec_posA.label_tag }} {{ form.spec_posA.errors }}<br>
                 {{ form.spec_posA }} Déf: <b>Fr</b>=Frêne</div>
            <div>{{ form.spec_posB.label_tag }} {{ form.spec_posB.errors }}<br>
                 {{ form.spec_posB }} Déf: <b>Mr</b>=Merisier</div>
            <div>{{ form.spec_posC.label_tag }} {{ form.spec_posC.errors }}<br>
                 {{ form.spec_posC }} Déf: <b>Pe</b>=Peuplier</div>
            <div>{{ form.spec_posD.label_tag }} {{ form.spec_posD.errors }}<br>
                 {{ form.spec_posD }} Déf: <b>Pi</b>=Pins</div>
            <div>{{ form.spec_posE.label_tag }} {{ form.spec_posE.errors }}<br>{{ form.spec_posE }}</div>
            <div>{{ form.spec_posF.label_tag }} {{ form.spec_posF.errors }}<br>{{ form.spec_posF }}</div>
        </div>
        </fieldset>
        {% endif %}

        <div>
            {{ form.geom }}
        </div>
        <div>
            {{ form.comments.label_tag }} {{ form.comments.errors }}<br>{{ form.comments }}
        </div>
        <div><button type="submit">Enregistrer</button></div>
    </form>

    {% if form.instance.pfile %}
    <iframe src={{ form.instance.pfile.url }} frameborder="0" height="1600" width="50%">
    </iframe>
    {% endif %}

</div>
{% endblock %}
