<div class="vocabulary">
{% for value in object.vocabvalue_set.all %}
  <p><span class="value_code">{{ value.code }}</span> &mdash;
     <span class="value_label">{{ value.label }}</span></p>
{% endfor %}
</div>
