{% load static %}
<h2>Évaluation des dégâts du gibier</h2>

<p>L'évaluation des dégâts du gibier sur les jeunes plants forestiers sert de méthode de
contrôle à l'aménagement cynégétique de nos forêts.</p>

<p>Sur une surface d'un demi-are, <b>rayon de 4 mètres</b> environ depuis le centre, concentrique à
la placette Ipasmofix, l'opérateur compte, en dizaines, tous les plants d'épicéa, autres
résineux et feuillus séparés, à la disposition du gibier et évalue, pour chaque groupe
d'essence, la proportion des plants frottés et abroutis.</p>

<p>Un seul et même plant peut avoir subi des <b>dégâts de frottement et d'abroutissement</b>.
Suivant l'intensité du dégât, on le comptera <b>soit comme plant frotté, soit comme plant
abrouti et non les deux</b>.</p>

<p><b>La hauteur des plants est de <font color="red">minimum 10cm</font> et maximum 1,50m en plaine et de 2m en
montagne. Ce sont les seuls critères de sélection des tiges faisant l'objet de cette
statistique.</b></p>
