{% extends "mobile_base/index.html" %}

{% block title %}Saisie inventaires VD-Forêts{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/Leaflet.PolylineMeasure.css' %}" type="text/css" media="all" />
    <script src="{% static 'js/proj4leaflet-1.0.1.js' %}"></script>
    <script src="{% static 'js/Leaflet.TileLayer.Swiss.js' %}"></script>
    <script src="{% static 'js/Leaflet.PolylineMeasure.js' %}"></script>
    <script src="{% static 'js/Leaflet.MetricGrid.js' %}"></script>
{% endblock %}

{% block plot_data %}
    <tr><th>Propriétaire:</th><td id="plot-owner" colspan="3"></td></tr>
    <tr><th>Densité:</th><td id="plot-density" colspan="3"></td></tr>
    <tr><th>Série:</th><td id="plot-ser-num"></td>
        <th>Division:</th><td id="plot-div-num"></td>
    </tr>
    <tr><th>Remarques:</th><td id="plot-remark" colspan="3"></td></tr>
{% endblock %}

{% block step_options %}
    <option value="1">Étape 1</option>
    <option value="2" disabled>Étape 2</option>
    <option value="3" disabled>Étape 3</option>
    <option value="4" disabled>Étape 4 - Dégats du gibier</option>
    <option value="5" disabled>Étape 5 - Coordonnées réelles</option>
    <option value="6" disabled>Étape 6 - Remarques</option>
    <option value="final" disabled>Confirmation finale</option>
{% endblock %}

{% block forms %}
    <form id="step1" class="input-form" data-step="1">
        {% for hidden in po_form.hidden_fields %}{{ hidden }}{% endfor %}
        <table class="form-table">
            {% for field in po_form.step1_fields %}
            <tr id="tr_{{ field.name }}">
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}
                    {% if field.field.can_be_locked %}
                    <img class="locked-input" src="{% static 'img/locked.svg' %}"
                         data-toggleimg="{% static 'img/unlocked.svg' %}"
                         title="Cliquez pour déverrouiller si vous devez vraiment modifier cette valeur">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div id="step1-verification">
            <div class="step1-input">
                <input type="radio" name="verif_step1" id="verifok" value="ok" required> <label for="verifok">Ces données me paraissent en ordre</label>
            </div>
            <div class="step1-input">
                <input type="radio" name="verif_step1" id="verifnotok" value="notok" required> <label for="verifnotok">Ces données comportent des erreurs</label>
            </div>
            <div id="step1-remarks" class="hidden">
                <label for="id_remarks">Indiquez la ou les erreurs détectées :</label><br>
                {{ po_form.remarks }}
            </div>
        </div>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
        </div>
    </form>

    <form id="step2" class="input-form" data-step="2">
        <table class="form-table">
            {% for field in po_form.step2_fields %}
            <tr id="tr_{{ field.name }}">
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}
                    {% if field.field.unit %}{{ field.field.unit }}{% endif %}
                    {% if field.field.help_title %}
                        <img class="form-help" src="{% static 'img/help.svg' %}"
                             title="{{ field.field.help_title }}" data-target="help-{{ field.name }}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
        </div>
    </form>

    <form id="step3" class="input-form" data-step="3">
        <table class="form-table">
            {% for field in po_form.step3_fields %}
            <tr id="tr_{{ field.name }}"
                {% if field.name|slice:":3" == "voc" %}class="voc_field"{% endif %}>
                <th>{{ field.label_tag }}</th>
                <td>{% if field.help_text %}<span class="help-text">{{ field.help_text }}</span><br>{% endif %}
                    {{ field }}
                    {% if field.field.unit %}{{ field.field.unit }}{% endif %}
                    {% if field.field.help_title %}
                        <img class="form-help" src="{% static 'img/help.svg' %}"
                             title="{{ field.field.help_title }}" data-target="help-{{ field.name }}">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
        </div>
    </form>

    <form id="step4" class="input-form" data-step="4">
        <p>
            Rayon de la placette pour ces mesures: <b>4 mètres</b>
            <img class="form-help" src="{% static 'img/help.svg' %}" title="Aide sur les dégâts du gibier" data-target="gibi-content">
        </p>
        <table class="form-table">
            {% for field_group in po_form.gibi_fields %}
                {% for field in field_group %}
                <tr id="tr_{{ field.name }}">
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
                {% if not forloop.last %}<tr><th><hr></th><td></td></tr>{% endif %}
            {% endfor %}
        </table>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
        </div>
    </form>

    <form id="step5" class="input-form" data-step="5">
        <table class="form-table">
            <tr id="tr_lonlat"><td colspan="2">
              <table>
                <tr><td colspan="3"><div id="exact_long_warning" class="warning"></div></td></tr>
                <tr>
                    <th>{{ plot_form.exact_long.label_tag }}</th>
                    <td>{{ plot_form.exact_long }} <div id="currentLong"></div></td>
                    <td rowspan="3"><button id="keepthis">Saisir</button></td>
                </tr>
                <tr><td colspan="2"><div id="exact_lat_warning" class="warning"></div></td></tr>
                <tr>
                    <th>{{ plot_form.exact_lat.label_tag }}</th>
                    <td>{{ plot_form.exact_lat }} <div id="currentLat"></div></td>
                </tr>
              </table>
            </td></tr>
            <tr id="tr_exposition">
                <th>{{ plot_form.exposition.label_tag }}</th>
                <td>{{ plot_form.exposition }}</td>
            </tr>
            <tr id="tr_relief">
                <th>{{ po_form.relief.label_tag }}</th>
                <td>{{ po_form.relief }}</td>
            </tr>
            <tr id="tr_slope">
                <th>{{ plot_form.slope.label_tag }}</th>
                <td>{{ plot_form.slope }}
                    <img class="locked-input" src="{% static 'img/locked.svg' %}"
                         data-toggleimg="{% static 'img/unlocked.svg' %}">
                </td>
            </tr>
        </table>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
        </div>
    </form>

    <form id="step6" class="input-form" data-step="6">
        <table class="form-table">
            <tbody id="previous-remarks"></tbody>
            <tbody>
              <tr id="tr_remarks">
                <th>{{ po_form.remarks.label_tag }}</th>
                <td>{{ po_form.remarks }}</td>
              </tr>
            </tbody>
        </table>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer"><img src="{% static 'img/okcontinue.svg' %}"></button>
        </div>
    </form>

    <form id="steptree" class="input-form" data-step="tree">
        {% for hidden in tree_form.hidden_fields %}{{ hidden }}{% endfor %}
        <table class="form-table">
              <tr id="tr_species">
                  <th>{{ tree_form.spec.label_tag }}</th>
                  <td><div id="species_warning" class="warning">Attention: cette essence ne doit plus être choisie.</div>
                      {{ tree_form.spec }}
                  </td>
              </tr>
              <tr id="tr_diameter">
                  <th>{{ tree_form.diameter.label_tag }}</th>
                  <td>
                      {{ tree_form.diameter }}&nbsp;&nbsp;&nbsp;<i>ou</i> <label><b>Circonférence:</b></label> {{ tree_form.perim }} cm
                  </td>
              </tr>
        </table>
        <div class="cancel">
            <button class="cancel" id="canceltree" title="Annuler">
                <img src="{% static 'img/cancel.svg' %}">
            </button>
        </div>
        <div class="weiter">
            <button type="submit" class="weiter" title="Continuer">
                <img src="{% static 'img/okcontinue.svg' %}">
            </button>
            <button type="submit" class="newtree" title="nouvel arbre">
                <span class="bigplus">+</span> <img src="{% static 'img/newtree.svg' %}">
            </button>
        </div>
    </form>
{% endblock %}

{% block modal_help %}
  <div id="gibi-content" class="help hidden">
      {% include 'mobile/gibier.html' %}
  </div>
{% endblock %}
