{% load static %}
<h2>Procédure de terrain pour le choix des rayons</h2>

<h3>Dans une futaie à x peuplements ou à x natures</h3>

<table class="border radius">
    <tr>
        <td>
            <p>Si la placette comprend <b>2 peuplements</b>, par exemple un bas perchis et une futaie moyenne, le rayon choisi est <b>obligatoirement celui de la surface médiane de la variante adoptée</b>.</p>
            <p>11 mètres pour une pente de 0 à 29 degrés,<br>
            12 mètres pour une pente supérieure à 29 degrés</p>
        </td>
        <td>
            <img src="{% static 'img/rayon1.png' %}">
        </td>
    </tr>
    <tr>
        <td>
            <p>Si la placette comprend <b>2 natures</b> par exemple, forêt et route, le rayon choisi est <b>obligatoirement celui de la surface médiane de la variante adoptée</b>.</p>

            <p>11 mètres pour une pente de 0 à 29 degrés,<br>
            12 mètres pour une pente supérieure à 29 degrés</p>
        </td>
        <td>
            <img src="{% static 'img/rayon2.png' %}">
        </td>
    </tr>
</table>

<h3>Dans une futaie à 1 peuplement</h3>

<p>Dans le cas d'un seul peuplement, <b>évaluation du rayon dont la surface englobe 15 à 18
tiges à DÉNOMBRER.</b></p>

<p>Ces rayons sont valables pour une pente de 0 à 29 degrés, si la pente est <b>supérieure à 29 degrés, un mètre est ajouté</b> au rayon ci-dessous.</p>

<table class="border radius">
    <tr>
        <td>
            <p>Le rayon de <b>9 mètres</b> est réservé à des bas et hauts <b>perchis</b> denses et assez denses dont le diamètre dominant est inférieur à 30cm</p>
        </td>
        <td>
            <img src="{% static 'img/rayon3.png' %}">
        </td>
    </tr>
    <tr>
        <td>
            <p>Les rayons de <b>10 à 11 mètres</b> sont réservés à des <b>futaies moyennes + ou - denses</b>, diamètres dominant de 30 à 50cm</p>
        </td>
        <td>
            <img src="{% static 'img/rayon4a.png' %}">
            <img src="{% static 'img/rayon4b.png' %}">
        </td>
    </tr>
    <tr>
        <td>
            <p>Le rayon de <b>12 mètres</b> est adopté pour les <b>vieilles futaies ouvertes ou fermées</b> dont le diamètre dominant est supérieur à 50cm</p>
        </td>
        <td>
            <img src="{% static 'img/rayon5a.png' %}">
            <img src="{% static 'img/rayon5b.png' %}">
        </td>
    </tr>
    <tr>
        <td>
            <p><b>Pas de tiges à dénombrer:</b><br>
            S'il n'y a pas de tiges à dénombrer supérieures à 10cm à HDP dans la placette, <b>rajeunissement, vide à reboiser, Improductif, pelouse, inaccessible, etc.</b></p>
            <p>Le rayon choisi est <b>obligatoirement celui de la surface médiane de la variante adoptée</b></p>
            <p>11 mètres pour une pente de 0 à 29 degrés,<br>
            12 mètres pour une pente supérieure à 29 degrés</p>
            <p><b>Si inaccessible, saisir 50 degrés de pente</b></p>
        </td>
        <td>
            <img src="{% static 'img/rayon6.png' %}">
        </td>
    </tr>
</table>

<p style="color: red;"><b>Dans le doute, adopter le rayon de la surface médiane de 11 mètres pour une pente de 0 à 29 degrés et de 12 mètres pour une pente supérieure à 29 degrés</b></p>

<table class="border">
    <tr><th>Rayon en m</th><th colspan="4">Surface en ares</th></tr>
    <tr><td rowspan="2"></td><td colspan="2">Jusqu'à 29 degrés</td><td colspan="2">Depuis 30 degrés</td></tr>
    <tr><td>0 degré</td><td>15 degrés</td><td>30 degrés</td><td>40 degrés</td></tr>
    <tr><td>9</td><td>2.55</td><td>2.46</td><td></td><td></td></tr>
    <tr><td>10</td><td>3.14</td><td>3.03</td><td>2.72</td><td>2.22</td></tr>
    <tr><td>11</td><td>3.80</td><td>3.67</td><td>3.29</td><td>2.69</td></tr>
    <tr><td>12</td><td>4.52</td><td>4.37</td><td>3.92</td><td>3.20</td></tr>
    <tr><td>13</td><td></td><td></td><td>4.60</td><td>3.75</td></tr>
</table>
