<h2>Tiges d’avenir non dénombrées</h2>

<p>Nombre approximatif (en dizaines) de tiges de 30 à 40cm de hauteur au minimum
et de diamètre inférieur au seuil d’inventaire de 9.5cm.</p>

<p>Ces informations concernent que les placettes localisées dans les futaies en régénération, en
transformation, dans les plantations, les rajeunissements, les fourrés et gaulis.<br>
<b>Si c'est une intervention 3 (éclaircie intensive) ou 4 (éclaircie normale), il n’y a pas de tige
d’avenir (code 0).</b>
</p>

<p><b>En plaine</b>, on ne considère que les <b>rajeunissements d’avenir</b>. Les épicéas et sapins rabougris, en
surnombre ou restés trop longtemps à l’ombre, ne sont pas comptés. Concernant les feuillus, on ne
tient compte que des essences dominantes et principales ou spécifiées dans le protocole.
</p>

<p><b>En altitude</b>, on est moins restrictif, toutes les tiges disponibles sont comptées.</p>

<p><font color="red">Dans tous les cas, il faut se référer aux remarques mentionnées dans le protocole d’inventaire.</font></p>
