{% extends "base.html" %}
{% load static %}

{% block content %}

{% if validlink %}

<p>Saisissez deux fois votre nouveau mot de passe afin de vérifier qu'il est correctement saisi.</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-password1">
        {{ form.new_password1.errors }}
        <label for="id_new_password1">Nouveau mot de passe</label>
        {{ form.new_password1 }}
    </div>
    <div class="form-row field-password2">
        {{ form.new_password2.errors }}
        <label for="id_new_password2">Confirmez le mot de passe</label>
        {{ form.new_password2 }}
    </div>
    <input type="submit" value="Changer mon mot de passe">
</fieldset>
</form>

{% else %}

<p>Le lien de mise à jour du mot de passe n'était pas valide, probablement en raison de sa précédente utilisation. Veuillez renouveler votre demande de mise à jour de mot de passe.</p>

{% endif %}

{% endblock %}
