{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Mot de passe oublié ?</h2>
<p>Saisissez votre adresse électronique et nous vous enverrons des instructions pour en définir un nouveau</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">Adresse :</label>
        {{ form.email }}
    </div>
    <input style="margin-top: 0.5em;" type="submit" value="Réinitialiser mon mot de passe">
</fieldset>
</form>

{% endblock %}
